includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	checkMissingIterableValueType: false

	ignoreErrors:
		- '#^Cannot cast mixed to string\.#'
