<?xml version="1.0" encoding="utf-8"?>
<phpunit
    executionOrder="random"
    resolveDependencies="true"
    colors="true"
    bootstrap="./vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Resiliency test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

</phpunit>
